body{
    background-color: aquamarine;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.medium_Pizza {
    background-color:#8CC084;
    border: 5px solid white;
    padding:1em;
    margin: 1em;
}

.Large_Pizza {
    background-color:#FFCAB1 ;
    border: 5px solid white;
    padding:1em;
    margin: 1em;
    
}

.Small-pizza{
    background-color:#E36397;
    border: 5px solid white;
    padding:1em;
    margin: 1em;
}

.Contact_details {
    background-color:#EC0B43;
    border: 5px solid white;
    padding: 1em ;
    margin:1em;
}